.section {
  margin: 10px 0px;
  background-color: white;
  box-shadow: 0 0 5px hsl(180, 25%, 85%); /* Softer, teal-tinted shadow */
}

.section__title {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid hsl(180, 50%, 80%); /* Light teal border */
  font-size: 20px;
}

.section__header {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid hsl(180, 50%, 80%); /* Light teal border */
  font-size: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .section__header {
    grid-template-columns: 1fr;
  }
}

.section__listTitle {
  margin: 0px;
  padding: 0px;
  border-bottom: none;
  font-size: 20px;
}

.section__body {
  padding: 20px;
}
